<img src="https://api.fnkr.net/testimg/200x200/DDDDDD/999999/?text=img" />
<div class="content">
  <strong [class.discount]="discount">{{ productName }}</strong>
  <span>{{ createDate | date : "yyyy-MM-dd" }}</span>
</div>

<div>
  @for (author of authors; track author) {
  <span>{{ author }}</span>
  @if (!$last) {
  <span>、</span>
  } }
</div>
<div class="company">
  <span>博碩文化</span>
  <span>{{ price | currency }}</span>
</div>
<div class="button">
  <button type="button" (click)="view.emit()">明細</button>

  <button type="button" (click)="addTo.emit()">加入購物車</button>
</div>
