<div class="container">
  <app-product-card
    id="1"
    [productName]="productName"
    [authors]="authors"
    [company]="company"
    [(isShow)]="isShow"
    [imgUrl]="imgUrl"
    [createDate]="createDate"
    [price]="price"
  ></app-product-card>
  <app-product-card
    id="1"
    [productName]="productName"
    [authors]="authors"
    [company]="company"
    [(isShow)]="isShow"
    [imgUrl]="imgUrl"
    [createDate]="createDate"
    [price]="price"
  ></app-product-card>
  <app-product-card
    id="1"
    [productName]="productName"
    [authors]="authors"
    [company]="company"
    [(isShow)]="isShow"
    [imgUrl]="imgUrl"
    [createDate]="createDate"
    [price]="price"
  ></app-product-card>
  <app-product-card
    id="1"
    [productName]="productName"
    [authors]="authors"
    [company]="company"
    [(isShow)]="isShow"
    [imgUrl]="imgUrl"
    [createDate]="createDate"
    [price]="price"
  ></app-product-card>
</div>
