<div class="container">
  @for (product of products; track product.id) {

  <app-product-card
    [id]="product.id"
    (addTo)="addTo.emit(product)"
    [productName]="product.name"
    [authors]="product.authors"
    [company]="product.company"
    [discount]="product.discount"
    [isShow]="product.isShow"
    [imgUrl]="product.imgUrl"
    [createDate]="product.createDate"
    [price]="product.price"
    (view)="view.emit(product)"
    (edit)="edit.emit(product)"
    (remove)="remove.emit(product)"
  ></app-product-card>
  } @empty {
  <div class="data-empty">無產品資料</div>
  }
</div>
<app-pagination
  [totalCount]="totalCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  (pageIndexChange)="pageIndexChange.emit($event)"
></app-pagination>
