<span>
  <input type="text" placeholder="產品名稱" [formControl]="formControl" />
  <button type="button" (click)="condition = formControl.value">查詢</button>
</span>

<app-product-card-list
  [products]="(products$ | async) || []"
  [totalCount]="(totalCount$ | async) || 0"
  (addTo)="shoppingCartService.addProduct($event)"
  [(pageIndex)]="pageIndex"
  [pageSize]="pageSize"
  [products]="products"
  (edit)="onEdit($event)"
  (addToCart)="onAddCart($event)"
  (view)="onView($event)"
></app-product-card-list>
