<div class="container">
  <section class="form">
    <h3>基本資料</h3>
    <div class="form-item">
      <label>姓名</label>
      <input type="text" />
    </div>
    <div class="form-item">
      <label>地址</label>
      <input type="text" />
    </div>
    <div class="form-item">
      <label>電話</label>
      <input type="text" />
    </div>
  </section>
  <section class="detail">
    <h3>購買項目</h3>
    <div class="item">
      <div class="id">1</div>
      <div class="name">x</div>
      <div class="count">
        <input type="number" />
      </div>
      <div class="price">1</div>
      <div class="delete">
        <button type="button">刪除</button>
      </div>
    </div>
  </section>
</div>
<div class="toolbar">
  <button type="button">送出訂單</button>
</div>
