<div class="container" [formGroup]="form">
  <section class="form">
    <h3>基本資料</h3>
    <div class="form-item">
      <label>姓名</label>
      <input type="text" formControlName="name" />
    </div>
    <div class="form-item">
      <label>地址</label>
      <input type="text" formControlName="address" />
    </div>
    <div class="form-item">
      <label>電話</label>
      <input type="text" formControlName="telephone" />
    </div>
  </section>
  <section class="detail">
    <h3>購買項目</h3>
    <div formArrayName="details">
      @for(control of details.controls;track $index){
      <div class="item" [formGroupName]="$index">
        <div class="id">{{ control.value.id }}</div>
        <div class="name">{{ control.value.product?.name }}</div>
        <div class="count">
          <input type="number" formControlName="count" />
        </div>
        <div class="price">{{ control.value.price | currency }}</div>
        <div class="delete">
          <button type="button">刪除</button>
        </div>
      </div>
      }
    </div>
  </section>
</div>
<div class="toolbar">
  <button type="button">送出訂單</button>
</div>
